.i
{
    background-image:url("file:///C:/Users/emeriker/Documents/maisonajavascript/javaScript/exercice6-etu/Exercice6/img/auto.jpg");
    height:100px;
    width:100px;
    border-style:dashed;
    border-width:10px 10px 10px 10px;
    
    transition: width 4s;
    transition-delay: 2s;
    

}

.test
{
    
}

#allo{
    
    animation-name: exemple2;
    animation-duration: 3s;
}


#back {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count :infinite;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes example2 {
    0% {background-color:red;}
    25% {background-color:aliceblue;}
    50% {background-color:yellow;}
    75% {background-color:violet;}
    100% {background-color:red;}
}

